<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fenix_Kiosko_WS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fenix_Kiosko_WS.Properties.Settings>
            <setting name="Fenix_Kiosko_WS_WebReferenceCIEL_IISelectorservice"
                serializeAs="String">
                <value>http://192.168.210.6:8886/soap/IISelector</value>
            </setting>
        </Fenix_Kiosko_WS.Properties.Settings>
    </applicationSettings>
</configuration>