<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FENIX_KIOSCO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.3.6.0" newVersion="6.3.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <FENIX_KIOSCO.Properties.Settings>
   <setting name="AutoPlug" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoUpdate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DeviceTypes" serializeAs="String">
    <value>Any</value>
   </setting>
  </FENIX_KIOSCO.Properties.Settings>
 </userSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="wsModeloCanonicoDatosSoap" maxReceivedMessageSize="2147483647" />
   </basicHttpBinding>
   <customBinding>
    <binding name="wsModeloCanonicoDatosSoap12">
     <textMessageEncoding messageVersion="Soap12" />
     <httpTransport />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="http://cpvmp-92x/MCDIntegrationServices/wsModeloCanonico.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsModeloCanonicoDatosSoap"
    contract="MCDIntegrationServices.wsModeloCanonicoDatosSoap" name="wsModeloCanonicoDatosSoap" />

  </client>
 </system.serviceModel>
</configuration>
